---
import Base from "@/layouts/Base.astro";
---
<Base title="Contatti">
  <h1 class="text-2xl font-bold mb-2">Contatti</h1>
  <p>Scrivici a <a class="underline" href="mailto:redazione@example.com">redazione@example.com</a></p>
</Base>
